
@page "/client"
@using Microsoft.AspNetCore.Mvc
@using Microsoft.EntityFrameworkCore
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using SmartWorkout.DataAccess
@using SmartWorkout.DataAccess.Entities
@using SmartWorkout.DataAccess.IRepository
@using SmartWorkout.DataAccess.Repository

<EditForm  FormName="AddUser" OnValidSubmit="SubmitForm" Model="@newUser" class="form w-100">
	<DataAnnotationsValidator/>
	<div class="container w-100 d-flex align-items-center justify-content-center flex-column">
		<h3 class="mb-5">Add Client</h3>
		<div class="form-group mb-3">
			<label for="first-name" class="label">First Name</label>
			<br />
			<InputText class="form-control" @bind-Value="@newUser.Name"></InputText>
			<ValidationMessage For="@(() => newUser.Name)"/>
		</div>
		<div class="form-group mb-3">
			<label for="last-name" class="label">Last Name</label>
			<br />
			<InputText class="form-control" @bind-Value="@newUser.Surname"></InputText>
			<ValidationMessage For="@(() => newUser.Surname)" />
		</div>
		<div class="form-group mb-3">
			<label for="exampleInputEmail1" class="label">Email address</label>
			<br />
			<InputText class="form-control" @bind-Value="@newUser.Email"></InputText>
		</div>
		<div class="form-group mb-3">
			<label for="phone-number" class="label">Phone Number</label>
			<br />
			<InputText class="form-control" @bind-Value="@newUser.Phone"></InputText>
		</div>
		<div class="form-group mb-3">
			<label for="weight" class="label">Weight (in kg)</label>
			<br />
			<InputNumber class="form-control" @bind-Value="@newUser.Weight"></InputNumber>
		</div>
		<div class="form-group mb-3">
			<label for="age" class="label">Age</label>
			<br />
			<InputNumber class="form-control" @bind-Value="@newUser.Age"></InputNumber>
		</div>
		<div class="form-group-button mb-3">
			<button type="submit" class="btn btn-primary w-100">Submit</button>
		</div>
	</div>
	

	@if (saved)
	{
		<p>The client has been created!</p>
	}
	@if (error)
	{
		<p>Something went wrong, please try again.</p>
	}
</EditForm>

@inject DataAccess.SmartWorkoutContext SmartWorkoutContext;
@code {


	public Client newUser = new Client();
	public bool saved = false;
	public bool error = false;
	private async Task SubmitForm()
	{
		saved = false;
		error = false;
		try{
			SmartWorkoutContext.Users.Add(newUser);
			await SmartWorkoutContext.SaveChangesAsync();
			newUser = new Client();
			saved = true;
		}
		catch (Exception)
		{
			error = true;
			throw;
		}

	}
}